<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item  [routerLink]="routes[0].url">{{routes[0].url}}</a>
      <a mat-list-item [matMenuTriggerFor]="order" [routerLink]="routes[1].url">{{routes[1].url}}</a>
    </mat-nav-list>
      <mat-menu #order="matMenu">
      <a mat-menu-item *ngFor = "let route of routes" [routerLink]="route.url">{{route.linkName}}</a>
        </mat-menu>
 
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>TodoAppNG6</span>
    </mat-toolbar>
   
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
