<form class="form-inline">
  <input class="form-control" name="searchInput" placeholder="search" #searchInput="ngModel" [(ngModel)]="searchText" >
  <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form>

<div class="example-config">
  Selected range: {{ range | json }}
</div>
<kendo-daterange>
  <label>
      <span class="label">Start</span>
      <kendo-dateinput kendoDateRangeStartInput (value)="range.start"></kendo-dateinput>
  </label>
  <label>
      <span class="label">End</span>
      <kendo-dateinput kendoDateRangeEndInput (value)="range.end"></kendo-dateinput>
  </label>
</kendo-daterange>

<table class="table table-sm">
    <thead>
      <th>Full Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th></th>
    </thead>

    <ng-container *ngFor="let order of orderArray" >
      <tr *ngIf="filterByDate(order)">
        <td>{{order.fullName}}</td>
        <td>{{order.email}}</td>
        <td>{{order.mobile}}</td>
        <td>{{order.date}}</td>
        <td>{{order.comment}}</td>
        <td>{{order.cityInput}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="orderService.populateForm(order)">Edit</button>
          <button class="btn btn-outline-info" (click)="onDelete(order.$key)">Delete</button>
        </td>
      </tr>
    </ng-container>

  </table>
  <div class="alert alert-danger" *ngIf="showDeleteMessage" >
    Deleted successfully
  </div>